<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZqLOr0FIG5Mg6849XzJPp3OcYBgxegMw</string>
	<key>GCM_SENDER_ID</key>
	<string>203700507448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dronaaim.dronaaim</string>
	<key>PROJECT_ID</key>
	<string>dronaaim-af946</string>
	<key>STORAGE_BUCKET</key>
	<string>dronaaim-af946.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203700507448:ios:803e86f65489d8d8b3e7cd</string>
</dict>
</plist>